

div {
    background-color: chocolate;
    color: white;
    padding: 10px;
    margin: 10px;
}

button {
    padding: 10px ;
    border-radius: 10px;
    background-color: hsla(17, 79%, 23%, 1);
    color: cornsilk;
    font-family: 'Handlee', cursive;
}

h1, h2, h3 {
    font-family: 'Freehand', cursive;
}

p {
    font-family: 'Handlee', cursive;
}

.hidden {
    display: none
}

.box {
    background-color: black;
    color: white;
}