/* Elements */

body {
    background-color: hsla(17, 79%, 23%, 1);
    font-family: 'Handlee', cursive;
    text-align: center;
}

img {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    justify-self: stretch;
    align-self: center;
    max-width: auto;
    max-height: 9.375em;
    background-size: cover;
}

div.start, div.instructions, div.game, div.score {
    background-color: chocolate;
    color: white;
    padding: 0.625em;
    border-radius: 0.625em;
    background-size: cover;
}

button {
    padding: 0.625em ;
    margin: 0.625em;
    border-radius: 0.625em;
    background-color: hsla(17, 79%, 23%, 1);
    color: cornsilk;
    font-family: 'Handlee', cursive;
    text-align: center;
    width: 9.375em;

}

h1, h2, h3 {
    font-family: 'Freehand', cursive;
    text-align: center;
}

p {
    font-family: 'Handlee', cursive;
    padding-top: 0.625em;
}

span {
    text-align: center;
    height: 1.25em;
    width: 1.875em;
    border-radius: 1em;
}

/* Classes */

.box {
    background-color: black;
    color: white;
}

.start, .instructions, .score {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
}

.reset-and-quit {
    display: flex;
    justify-content: space-between;
}

.coffee-game {
    width: 6.25em;
}

.button-set {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coffee-button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0.3125em;
    row-gap: 0.3125em;
}

.hidden {
    display: none
}

/* IDs */

/* The shots/milks/sugars/pumps/serve buttons */
#shots {
    grid-column-start: 2;
}

#pumps {
    grid-column-start: 2;
    grid-row-start: 3;
}

#milk {
    grid-column-start: 1;
    grid-row-start: 2;
}

#sugar {
    grid-column-start: 3;
    grid-row-start: 2;
}

#serve {
    grid-column-start: 2;
    grid-row-start: 2;
}
/* end game buttons */

#top-half {
    display: grid;
    grid-template-columns: 0.625em 1fr 2fr 1fr 0.625em;
    grid-template-rows: 0.625em 1fr 10em 1fr 0.625em;
    column-gap: 0.3125em;
    row-gap: 0.3125em;
}

#bottom-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#time-left-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: stretch;
}

#lets-start {
    grid-column-start: 3;
    grid-row-start: 2;
    justify-self: center;
    align-self: start;
}

#score-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    grid-column-start: 4;
    grid-row-start: 2;
    justify-self: stretch;
}

#customer-order-box {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    border-radius: 1em;
}

#time-left-box, #score-box {
    width: 5em;
    height: 1.5em;
    justify-self: center;
    text-align: center;
    align-self: center;
    border-radius: 1em;
    padding: 1em;
}

#final-score {
    background-color: black;
    width: 30%;
    text-align: center;
    border-radius: 1em;
}

#pay-out-button {
    display: flex;
    justify-content: center;
}

#quit, #reset {
    width: 5em;
}
